page-scan {

  .btn-scan {

    background-color: rgb(25, 12, 65);
    margin-top: 150px;
    height: 50px;
    border-radius: 50px;
  }
.scan-label {
  text-align: center;
  font-size: medium;
  font-family: "Century Gothic";
  margin-bottom: 30px;

}
}
